{{define "about"}}
{{template "header"}}
<body>
{{template "nav"}}

<div class="uk-container">



  <div class="uk-padding-large">
  <h1 class="uk-heading-hero" style="padding:40px 0">SO, WHO ARE WE?</h1>
  <div class="uk-width-2-3">


    <p class="uk-text-large">We're a small group of Geeks who work in Tech, we just wanted to create a  status page that was pretty, showed us what we wanted at a glance, no drama, no fuss.</p>
    <p class="uk-text-large">I think we've created someting that we love, hope you love it too.</p>

    <p class="uk-text-large">In tech people talk about uptime, how long has a website has operated without going down. No website means not revenue.</p>

    <p class="uk-text-large">Unlike life and death, nothing in life is guaranteed including 100% time, so we strive for <span class="uk-text-success">99.9999%</span> uptime. </p>
    <p class="uk-text-large">This is us <img src="/static/The9s_logo1.png" height="50" width="50"></p>
    </div>
    </div><!--- container end --->

</div>

{{template "footer"}}
</body>
</html>
{{end}}
