{{define "docs"}}
{{template "header"}}
<body>
{{template "nav"}}

<div class="uk-background-fixed uk-background-center-center uk-height-large" style="background-image: url(/static/img/bg_0723081632.jpg);">
<div class="uk-container">
  <div class="uk-inline uk-flex uk-padding-small">

<div class="uk-width-1-4">
  <ul>
    <li>Basic</li>
    <li>Doom</li>
    <li>Mobile</li>
    <li>Space</li>
    <li>doomdeDoom</li>
  </ul>
</div>

<div class="uk-width-3-4">FAQ</div>

</div>


</div><!--- container end --->

{{template "footer"}}
</body>
</html>
{{end}}
