{{define "signup"}}
{{template "header"}}
<body>
{{template "nav"}}


      <div class="uk-container uk-padding uk-align-center ">

        <div class="uk-width-1-2" style="padding-left:60px">
        <form class="uk-grid-small" uk-grid  method="POST" action="/signup">
          <input type="hidden" name="account_type" value="fast">
  
            <div class="uk-width-1-1@s">
                <input class="uk-input" type="text" placeholder="email" name="email">
            </div>
            <div class="uk-width-1-1@s">
              <input class="uk-input" type="text" placeholder="first name" name="first_name">
            </div>
            <div class="uk-width-1-1@s">
                <input class="uk-input" type="text" placeholder="last name" name="lastname_name">
            </div>
            <div class="uk-width-1-1@s">
                <input class="uk-input" type="text" placeholder="password" name="password">
            </div>
            <div class="uk-width-1-1@s">
              <button class="uk-button uk-button-default uk-button-small">Sign up</button>
            </div>
        </form>


</div>
      </div><!--- container end --->


{{template "footer"}}
</body>
</html>
{{end}}
